div.jumbotron {
    background-color: aquamarine;
    /* padding: 0rem; */
    margin-bottom: 0rem;
}

.center {
    text-align: center;
}

.border {
    border: brown;
}

.nav {
    padding-left: 10rem;
    padding-right: 12rem;
}